<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.demo5.dao.BrandMapper">
  <resultMap id="BaseResultMap" type="com.my.demo5.po.Brand">
    <id column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_ipo" jdbcType="BIT" property="isIpo" />
    <result column="found_time" jdbcType="DATE" property="foundTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    brand_id, name, is_ipo, found_time
  </sql>
  <select id="selectByExample" parameterType="com.my.demo5.po.BrandExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from zk_brand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zk_brand
    where brand_id = #{brandId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zk_brand
    where brand_id = #{brandId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.my.demo5.po.BrandExample">
    delete from zk_brand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.my.demo5.po.Brand">
    insert into zk_brand (brand_id, name, is_ipo, 
      found_time)
    values (#{brandId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{isIpo,jdbcType=BIT}, 
      #{foundTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.my.demo5.po.Brand">
    insert into zk_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="isIpo != null">
        is_ipo,
      </if>
      <if test="foundTime != null">
        found_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isIpo != null">
        #{isIpo,jdbcType=BIT},
      </if>
      <if test="foundTime != null">
        #{foundTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.my.demo5.po.BrandExample" resultType="java.lang.Long">
    select count(*) from zk_brand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zk_brand
    <set>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.isIpo != null">
        is_ipo = #{record.isIpo,jdbcType=BIT},
      </if>
      <if test="record.foundTime != null">
        found_time = #{record.foundTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zk_brand
    set brand_id = #{record.brandId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      is_ipo = #{record.isIpo,jdbcType=BIT},
      found_time = #{record.foundTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.demo5.po.Brand">
    update zk_brand
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isIpo != null">
        is_ipo = #{isIpo,jdbcType=BIT},
      </if>
      <if test="foundTime != null">
        found_time = #{foundTime,jdbcType=DATE},
      </if>
    </set>
    where brand_id = #{brandId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.demo5.po.Brand">
    update zk_brand
    set name = #{name,jdbcType=VARCHAR},
      is_ipo = #{isIpo,jdbcType=BIT},
      found_time = #{foundTime,jdbcType=DATE}
    where brand_id = #{brandId,jdbcType=INTEGER}
  </update>
</mapper>